*
{
margin:0;
padding:0;
}
body,
html
{
width:100%;
height:100%;
font-size:1.1em;
font-family:"arial", verdana, geneva;
color:#A0A0A0;
background-color: #191919;
}

body .fullview
{
font-size:110%;
}


h1,h2,h3
{
}

ul li
{
position:relative;
}
ul li:hover
{
}

a
{
color:#232323;
text-decoration:none;
}
a:hover
{
color:#343434;
text-decoration:underline;
}

.clr
{
clear:both;
}



/********************************************** GLOBAL ****************************************/
div#maincontainer
{
width:100%;
margin:0px auto;
}



.no-display
{
padding:4px;
}
div#feedboard
{
}

#sourcebox
{
  position:relative;
  display:block;
  width:100%;
}
#sourcebox input#sourcestring
{
    width:100%;
    max-width:540px;
}

div#topbar .option
{
display:block;
list-style-type:none;
}



div#navbar
{
}
div#loaderbox,
div#contentbar
{
}

div#loaderbox
{
width:100%;
text-align:center;
}
div#loaderbox.hidden {
display:none;
}
div#loaderbox.active {
display:block;
}


/* topnav display global */

div#optionbar
{
padding:4px;
}
div#navbar
{
padding:2px;
background-color: #232323;
}

ul#groupmenu li,
ul#groupchannelbox li,
#activeselectbox ul li
{
display: inline-block;
padding:2px 3px;
margin:2px;
border:1px solid #232323;
background-color: #ffffff;
}
ul#groupmenu li.active,
ul#groupchannelbox li.active,
#activeselectbox ul > li
{
border:1px solid #cccccc;
}
ul#groupchannelbox li.active,
#activeselectbox ul > li
{
padding-right:16px;
}

/* feed display global */

ul#feedbundle li
{
clear:both;
}
ul#feedbundle li.bundle-item,
ul#feedbundle li.no-display
{
list-style-type:none;
}
ul#feedbundle li.no-display
{
clear:both;
}


/* global styles */

input#sourcestring
{
  border-radius:12px;
  padding:6px 6px;
}

ul#groupmenu li,
ul#groupchannelbox li,
#activeselectbox ul li
{
  border-radius:12px;
  padding:6px 10px;
}

ul li span.delete
{
position:absolute;
right:0px;
top:0px;
background-color:#555555;
color:#dddddd;
font-size:1.3em;
padding:5px 10px;
border-top-right-radius:12px;
border-bottom-right-radius:12px;
}

/**/
div#bottombar
{
}





/************************************** GROUP CHANNEL MENU ****************************************/



li#currentgroup
{
text-decoration:underline;
}

ul li span.delete
{
position:absolute;
right:0px;
top:0px;
height:100%;
background-color:#555555;
color:#dddddd;
padding:0px 2px;
}

ul#groupchannelbox li
{
}
ul#groupchannelbox li.active
{
}
ul#groupchannelbox li span,
ul#groupchannelbox li.nonactive span.delete
{
display:none;
}
ul#groupchannelbox li.active span.delete
{
display:inline;
}
ul#groupchannelbox li.active:hover
{
background-color: #CCCCCC;
}

ul#groupchannelbox li.loading
{
animation: optionloadingbg 0.2s infinite;
background-image: repeating-linear-gradient(145deg, #DFDFDF, #DFDFDF 2px, #FEFEFE 2px, #DFDFDF 4px);
background-position: 0px top;
}
@keyframes optionloadingbg {
    from {background-position: 0px top;}
    to {background-position: -6px top;}
}

/************************************* ACTIVE MENU ****************************************/
div#activeselectbox div ul li
{
padding-left:16px;
}
div#activeselectbox div ul li:hover
{
background-color: #CCCCCC;
}

#activeselectbox ul li span.filter
{
position:absolute;
left:0px;
bottom:0px;
height:100%;
color:#dddddd;
padding:0px 2px;
}

/********************************************** CONTENT ****************************************/
ul#feedbundle
{
}
ul#feedbundle li.bundle-item
{
display:block;
width:100%;
margin:2px 0px 10px 4px;
/*border-left:1px solid #454545;*/
}

ul#feedbundle li.bundle-item h4,
ul#feedbundle li.bundle-item h3,
ul#feedbundle li.bundle-item .itemtextbox
{
padding:0px 4px;
}
ul#feedbundle li.bundle-item h4
{
line-height:0.8em;
}
ul#feedbundle li.bundle-item h4 a,
ul#feedbundle li.bundle-item h4 time
{
font-size:0.6em;
color:#A0A0A0;
font-weight:normal;
}
ul#feedbundle li.bundle-item h3 a
{
color:#A0A0A0;
font-size:0.9em;
line-height:1.3em;
}

ul#feedbundle li.bundle-item .itemtextbox
{
font-size:0.8em;
line-height:112%;
}

.fullview ul#feedbundle li.bundle-item
{
}


ul#feedbundle li.bundle-item img,
ul#feedbundle li.bundle-item img:nth-child(1)
{
display:block;
max-width:40% !important;
height:auto;
float:left;
margin-right:12px;
vertical-align:text-top;
}






/********************************************** RESPONSIVE ****************************************/
@media screen and (min-width: 760px) {



div#contentbar
{
float:left;
width:76%;
}
div#sidebar
{
float:right;
width:24%;
}


ul#feedbundle
{
}

ul#feedbundle li.bundle-item
{
display:inline-block;
width:48%;
margin:2px 0px 10px 4px;
vertical-align: text-top;
}

ul#feedbundle li.bundle-item h4 a,
ul#feedbundle li.bundle-item h4 time
{
}
.fullview ul#feedbundle li.bundle-item
{
}

ul#feedbundle li.bundle-item h3 a
{
}

ul#feedbundle li.bundle-item div.itemtextbox img
{
}

ul#feedbundle li.bundle-item div.itemtextbox img:nth-child(1)
{
}

}
